<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>Hello Vue brother of Django</h1>
    <hr>
    <div id="app">
      <h1>Counter</h1>
      <h3> {{num_count}} </h3>
      <label for="amount"> Put Number to increase </label>
      <input type="text" name="amount" id="" 
      v-bind:value="increament_amount"
      v-on:input="changeIncreamentAmount">
      <button v-on:click="incrementCount">Increment number</button>
      <hr>



    <p v-if="message.length % 2 === 0">Even: {{ message.toUpperCase() }}</p>  
    <p v-else>Odd: {{ message }}</p> 
    
    <ul>
      <li v-for="num in list_of_numbers"> {{ num * Math.random()}}</li>
    </ul>

    <ul v-for="student in embeded_list">
      <li> Roll: {{ student.roll }}</li>
      <li> Name: {{ student.name }}</li>

      <ul>
        <p>Marks</p>
        <li v-for="mark in student.marks"> {{ mark }}</li>
      </ul>

    </ul>


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      const app = createApp(
        {
          data(){
            return{
              num_count: 10,
              increament_amount: 11,
              message:'Hello finally from Vue',
              list_of_numbers: [1, 2, 3, 4 ],
              embeded_list: [
                {name: 'Sarwar', roll:1, marks: [2, 45, 55, 23]},
                {name: 'Sojib', roll:2, marks: [5, 35, 25, 65]},
                {name: 'Sarwar', roll:1, marks: [7, 65, 99, 23]},
              ]
            }
          },
          methods: {
            changeIncreamentAmount(event){
              this.increament_amount = Number(event.target.value)

            },
            incrementCount(){
              this.num_count += this.increament_amount
            }
          }
        }
      )

      app.mount('#app')
    </script>
  </body>
</html>
